<input type="radio" name="metric" value="electricity" checked> Electricity usage
<input type="radio" name="metric" value="natural gas">Dry natural gas consumption
<input type="radio" name="metric" value="coal"> Total coal consumption
<input type="radio" name="metric" value="energy"> Total primary energy consumption
<input type="radio" name="metric" value="biofuels"> Total biofuels production
<input type="radio" name="metric" value="renewable electricity"> Total renewable electricity consumption

