<input type="radio" name="metric" value="electricity" > Electricity usage
<input type="radio" name="metric" value="natural_gas">Dry natural gas consumption
<input type="radio" name="metric" value="coal"> Total coal consumption
<input type="radio" name="metric" value="energy_consumption"> Total primary energy consumption
<input type="radio" name="metric" value="biofuels"> Total biofuels production
<input type="radio" name="metric" value="energy_consumption"> Total energy consumption
<input type="radio" name="metric" value="renewable_electricity"> Total renewable electricity consumption

